Repository nv-legate/legate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @magnatelee, @Jacobfaib, @nv-legate/python-reviewers, @eddy16112, @nv-legate/build-reviewers, @nv-legate/cpp-reviewers, @nv-legate/devops-reviewers, @nv-legate/docs-reviewers, @manopapad

Use legate-gh-ci with optional core dumps (#2471)
  .github/workflows/ci-gh-nightly-release.yml
  .github/workflows/gh-build-and-test.yml
  .github/workflows/gh-build-docs.yml
  .github/workflows/gh-legate-profiler.yml
Owners: @nv-legate/devops-reviewers

Fix missing semi colon for nvc++ (#2502)
  src/cmake/templates/legate_defines.h.in
Owners: @nv-legate/build-reviewers

Suppress Realm UBSAN errors (#2485)
  continuous_integration/scripts/test
  share/legate/sanitizers/ubsan_default_options.txt
  share/legate/sanitizers/ubsan_suppressions.txt
  src/cmake/Modules/default_flags.cmake
  src/cpp/CMakeLists.txt
  src/cpp/legate/utilities/detail/sanitizer_defaults.cc
Owners: @nv-legate/devops-reviewers, @magnatelee, @Jacobfaib, @nv-legate/build-reviewers, @nv-legate/cpp-reviewers

GCC 14 (#2400)
  conda/conda-build/meta.yaml
  continuous_integration/scripts/test
  src/cpp/legate/runtime/detail/runtime.cc
  tests/cpp/noinit/cuda_driver_api.cc
  tests/cpp/non_reentrant/death_example.cc
Owners: @nv-legate/devops-reviewers, @nv-legate/cpp-reviewers, @magnatelee, @Jacobfaib

Revert #2256 to bring back #1676 (Modify dimension ordering based on store transforms, such as transpose) (#2412)
  src/cpp/legate/data/detail/transform.cc
  src/cpp/legate/data/detail/transform.h
  src/cpp/legate/mapping/detail/base_mapper.cc
  src/cpp/legate/mapping/detail/mapping.cc
  src/cpp/legate/mapping/detail/mapping.h
  src/cpp/legate/mapping/detail/store.cc
  src/cpp/legate/mapping/detail/store.h
  src/cpp/legate/operation/detail/attach.cc
  src/cpp/legate/operation/detail/index_attach.cc
  src/cpp/legate/utilities/span.h
  src/cpp/legate/utilities/span.inl
  tests/cpp/CMakeLists.txt
  tests/cpp/bug/transpose_fortran_order.cc
  tests/cpp/integration/transpose_dim_order.cc
Owners: @nv-legate/cpp-reviewers, @nv-legate/build-reviewers, @magnatelee, @Jacobfaib

Fix alias template deduction gcc warning (#2511)
  tests/cpp/bug/string_physical_array_owner.cc
Owners: @magnatelee, @Jacobfaib

Generalize the wheels to build for mac (#2430)
  scripts/build/python/legate/CMakeLists.txt
  scripts/build/python/legate/pyproject.toml
Owners: @nv-legate/devops-reviewers

add cases to enhance LogicalRegionField code coverage (#2365)
  tests/cpp/CMakeLists.txt
  tests/cpp/unit/logical_region_field.cc
Owners: @nv-legate/build-reviewers, @magnatelee, @Jacobfaib

Use std::queue as scheduling window (#2447)
  src/cpp/legate/runtime/detail/runtime.cc
  src/cpp/legate/runtime/detail/runtime.h
Owners: @nv-legate/cpp-reviewers

add cases to enhance future wrapper code coverage (#2424)
  tests/cpp/CMakeLists.txt
  tests/cpp/unit/future_wrapper.cc
Owners: @nv-legate/build-reviewers, @magnatelee, @Jacobfaib

Add tests to enhance argument parse code coverage (#2427)
  src/cpp/legate/runtime/detail/argument_parsing/parse.cc
  tests/cpp/noinit/argument_parsing/argument.cc
  tests/cpp/noinit/argument_parsing/logging.cc
  tests/cpp/noinit/argument_parsing/parse_args.cc
  tests/cpp/noinit/argument_parsing/scaled.cc
  tests/cpp/noinit/argument_parsing/sysmem.cc
Owners: @nv-legate/cpp-reviewers, @magnatelee, @Jacobfaib

Add a checker to ensure all Legate files contain only ASCII characters (#2522)
  .github/release.yml
  .pre-commit-config.yaml
  README.md
  continuous_integration/scripts/tools/pretty_printing.bash
  docs/legate/source/conf.py
  docs/legate/source/developer/testing.rst
  docs/legate/source/manual/mappers/index.rst
  scripts/pre-commit/ascii_only.py
  src/cpp/legate/task/variant_options.h
  src/cpp/legate/utilities/detail/shared_ptr_control_block.inl
  tests/python/unit/legate/driver/test_command.py
  tests/python/unit/legate/tester/test_test_system.py
Owners: @nv-legate/devops-reviewers, @magnatelee, @Jacobfaib, @nv-legate/docs-reviewers, @nv-legate/cpp-reviewers, @nv-legate/python-reviewers

Remove cuda-cccl from generate-conda-envs. Legate knows how to get the right version of CCCL anyways (#2534)
  scripts/generate-conda-envs.py
Owners: @nv-legate/devops-reviewers

Add links to building the test suite to top-level BUILD.rst (#2531)
  BUILD.rst
  docs/legate/source/developer/testing.rst
Owners: @nv-legate/docs-reviewers

Forgot pragma once in kvikio wrapping header (#2442)
  src/cpp/legate/experimental/io/kvikio/detail/legate_kvikio_file_handle.h
Owners: @nv-legate/cpp-reviewers

Add DLPack interface (#2233)
  .pre-commit-config.yaml
  docs/legate/source/changes/2508.rst
  docs/legate/source/oss-licenses.rst
  src/cpp/CMakeLists.txt
  src/cpp/legate/cuda/detail/cuda_driver_api.cc
  src/cpp/legate/cuda/detail/cuda_driver_api.h
  src/cpp/legate/cuda/detail/cuda_driver_types.h
  src/cpp/legate/data/physical_store.cc
  src/cpp/legate/data/physical_store.h
  src/cpp/legate/utilities/detail/dlpack/common.cc
  src/cpp/legate/utilities/detail/dlpack/common.h
  src/cpp/legate/utilities/detail/dlpack/dlpack.h
  src/cpp/legate/utilities/detail/dlpack/from_dlpack.cc
  src/cpp/legate/utilities/detail/dlpack/from_dlpack.h
  src/cpp/legate/utilities/detail/dlpack/to_dlpack.cc
  src/cpp/legate/utilities/detail/dlpack/to_dlpack.h
  src/python/legate/core/__init__.py
  src/python/legate/core/_lib/data/physical_store.pxd
  src/python/legate/core/_lib/data/physical_store.pyi
  src/python/legate/core/_lib/data/physical_store.pyx
  src/python/legate/core/_lib/utilities/detail/CMakeLists.txt
  src/python/legate/core/_lib/utilities/detail/__init__.py
  src/python/legate/core/_lib/utilities/detail/dlpack/CMakeLists.txt
  src/python/legate/core/_lib/utilities/detail/dlpack/__init__.py
  src/python/legate/core/_lib/utilities/detail/dlpack/dlpack.pxd
  src/python/legate/core/_lib/utilities/detail/dlpack/dlpack.pyx
  src/python/legate/core/_lib/utilities/detail/dlpack/from_dlpack.pxd
  src/python/legate/core/_lib/utilities/detail/dlpack/from_dlpack.pyi
  src/python/legate/core/_lib/utilities/detail/dlpack/from_dlpack.pyx
  src/python/legate/core/_lib/utilities/detail/dlpack/to_dlpack.pxd
  src/python/legate/core/_lib/utilities/detail/dlpack/to_dlpack.pyi
  src/python/legate/core/_lib/utilities/detail/dlpack/to_dlpack.pyx
  tests/cpp/CMakeLists.txt
  tests/cpp/unit/dlpack/common.h
  tests/cpp/unit/dlpack/from_dlpack/unversioned.cc
  tests/cpp/unit/dlpack/from_dlpack/versioned.cc
  tests/cpp/unit/dlpack/to_dlpack/to_dlpack.cc
  tests/python/unit/legate/core/test_from_dlpack.py
  tests/python/unit/legate/core/test_to_dlpack.py
Owners: @magnatelee, @Jacobfaib, @nv-legate/docs-reviewers, @nv-legate/build-reviewers, @nv-legate/cpp-reviewers, @nv-legate/python-reviewers

Fix incomplete constraints type for cuda files (#2532)
  src/cpp/legate/partitioning/detail/partitioning_tasks.h
Owners: @nv-legate/cpp-reviewers

Remove `mapping::InstLayout` (#2514)
  docs/legate/source/changes/2508.rst
  src/cpp/legate/mapping/detail/base_mapper.cc
  src/cpp/legate/mapping/detail/base_mapper.h
  src/cpp/legate/mapping/detail/mapping.cc
  src/cpp/legate/mapping/mapping.cc
  src/cpp/legate/mapping/mapping.h
  src/cpp/legate/mapping/mapping.inl
  tests/cpp/unit/mapping.cc
Owners: @nv-legate/docs-reviewers, @nv-legate/cpp-reviewers, @magnatelee, @Jacobfaib

Don't expect that _version.py exists (#2552)
  src/python/legate/__init__.py
Owners: @nv-legate/python-reviewers

Bump aedifix version (#2544)
  .pre-commit-config.yaml
  conda/conda-build/build.sh
  config/ensure_aedifix.py
Owners: @magnatelee, @Jacobfaib, @nv-legate/devops-reviewers, @nv-legate/python-reviewers, @nv-legate/build-reviewers

Avoid stack inspections when not profiling (#2512)
  src/cpp/legate/runtime/detail/argument_parsing/legate_args.cc
  src/cpp/legate/runtime/detail/argument_parsing/parse.cc
  src/cpp/legate/runtime/detail/argument_parsing/parse.h
  src/cpp/legate/runtime/detail/config.h
  src/python/legate/core/_lib/runtime/detail/config.pxd
  src/python/legate/core/_lib/runtime/detail/runtime.pxd
  src/python/legate/core/_lib/runtime/runtime.pxd
  src/python/legate/core/_lib/runtime/runtime.pyi
  src/python/legate/core/_lib/runtime/runtime.pyx
  src/python/legate/driver/args.py
  src/python/legate/driver/config.py
  src/python/legate/driver/environment.py
  src/python/legate/jupyter/config.py
  tests/cpp/noinit/argument_parsing/parse_args.cc
  tests/cpp/noinit/config.cc
  tests/python/integration/test_auto_task.py
  tests/python/integration/test_manual_task.py
  tests/python/unit/legate/core/test_runtime.py
  tests/python/unit/legate/driver/test_args.py
  tests/python/unit/legate/driver/test_config.py
  tests/python/unit/legate/driver/test_environment.py
  tests/python/unit/legate/jupyter/test_config.py
Owners: @nv-legate/cpp-reviewers, @nv-legate/python-reviewers, @eddy16112, @magnatelee, @Jacobfaib

Add tests to improve task_context/buffer code coverage (#2530)
  src/python/legate/core/_lib/data/buffer.pyx
  tests/python/integration/test_py_task.py
  tests/python/integration/utils/tasks.py
  tests/python/unit/legate/core/test_task_context.py
Owners: @nv-legate/python-reviewers

Add workaround for Realm cmake split from Legion (#2555)
  src/cpp/CMakeLists.txt
Owners: @nv-legate/build-reviewers

Test legion profiler using separate workflow (#2513)
  .github/workflows/ci-gh-nightly-legate-profiler.yml
  .github/workflows/ci-gh-nightly-release.yml
  .github/workflows/gh-build-and-test-legate-profiler.yml
  .github/workflows/gh-legate-profiler.yml
  conda/legate_profiler/build.sh
  continuous_integration/scripts/build
  continuous_integration/scripts/test
Owners: @nv-legate/devops-reviewers

Fix nvhpc warnings (#2546)
  src/cmake/Modules/default_flags.cmake
  src/cpp/legate/data/detail/logical_array.cc
  src/cpp/legate/io/hdf5/detail/read.cc
  src/cpp/legate/partitioning/detail/partitioning_tasks.cc
  src/cpp/legate/utilities/assert.h
  src/cpp/legate/utilities/detail/type_traits.h
Owners: @nv-legate/build-reviewers, @nv-legate/cpp-reviewers

Enhance c++ code coverage for task signature related objects (#2543)
  tests/cpp/CMakeLists.txt
  tests/cpp/unit/task_signature/alignment.cc
  tests/cpp/unit/task_signature/basic.cc
  tests/cpp/unit/task_signature/bloat.cc
  tests/cpp/unit/task_signature/broadcast.cc
  tests/cpp/unit/task_signature/image.cc
  tests/cpp/unit/task_signature/scale.cc
Owners: @nv-legate/build-reviewers, @magnatelee, @Jacobfaib

add cases for type code coverage (#2554)
  tests/cpp/unit/type/binary_type.cc
  tests/cpp/unit/type/fixed_array_type.cc
  tests/cpp/unit/type/list_type.cc
  tests/cpp/unit/type/primitive_type.cc
  tests/cpp/unit/type/string_type.cc
  tests/cpp/unit/type/struct_type.cc
  tests/cpp/unit/type/type_features.cc
Owners: @magnatelee, @Jacobfaib

Bump aedifix to get some boilerplate for free (#2565)
  .pre-commit-config.yaml
  config/ensure_aedifix.py
  config/legate_internal/variables.mk
  makefile
Owners: @magnatelee, @Jacobfaib, @nv-legate/python-reviewers, @nv-legate/build-reviewers

Fix test launcher when using mpich (#2568)
  src/python/legate/driver/launcher.py
Owners: @nv-legate/python-reviewers

Bootstrap packaging package as well (#2570)
  config/ensure_aedifix.py
Owners: @nv-legate/python-reviewers, @nv-legate/build-reviewers

Mention that immediate lambdas are preferred to if-initialization (#2577)
  docs/legate/source/developer/style.rst
Owners: @nv-legate/docs-reviewers

Adjust the default CUDA architectures we build for (#2505)
  docs/legate/source/installation.rst
  src/cmake/Modules/cuda_arch_helpers.cmake
Owners: @nv-legate/docs-reviewers, @nv-legate/build-reviewers

issue-2364: fix attached_ status of LogicalRegionField (#2432)
  src/cpp/legate/data/detail/logical_region_field.h
  src/cpp/legate/data/detail/logical_region_field.inl
  src/cpp/legate/operation/detail/attach.cc
  src/cpp/legate/operation/detail/index_attach.cc
  tests/cpp/unit/logical_region_field.cc
Owners: @nv-legate/cpp-reviewers, @magnatelee, @Jacobfaib

Bump aedifix version (#2588)
  .pre-commit-config.yaml
  config/ensure_aedifix.py
Owners: @magnatelee, @Jacobfaib, @nv-legate/python-reviewers, @nv-legate/build-reviewers

Remove CUDA runtime API from tests (#2587)
  tests/cpp/integration/index_attach.cc
  tests/cpp/integration/nccl.cu
  tests/cpp/integration/replicated_write.cc
  tests/cpp/unit/debug.cc
Owners: @magnatelee, @Jacobfaib

Fix glibc versioning in conda build (#2583)
  conda/conda-build/conda_build_config.yaml
  conda/conda-build/meta.yaml
Owners: @nv-legate/devops-reviewers

Remove debug utilities header (#2595)
  docs/legate/source/changes/2508.rst
  src/cpp/CMakeLists.txt
  src/cpp/legate/utilities/debug.cc
  src/cpp/legate/utilities/debug.h
  src/cpp/legate/utilities/debug.inl
  tests/cpp/CMakeLists.txt
  tests/cpp/unit/debug.cc
Owners: @nv-legate/docs-reviewers, @nv-legate/build-reviewers, @nv-legate/cpp-reviewers, @magnatelee, @Jacobfaib

Add cusolvermp to cupynumeric dev env (#2561)
  scripts/generate-conda-envs.py
Owners: @nv-legate/devops-reviewers

Revert #2412 manually: Disable the dim ordering modifications based on store transforms, such as transpose (#2593)
  src/cmake/templates/legate_defines.h.in
  src/cpp/legate/mapping/detail/mapping.cc
  tests/cpp/bug/transpose_fortran_order.cc
  tests/cpp/integration/transpose_dim_order.cc
  tests/cpp/non_reentrant/wo_runtime/streaming/streaming.cc
Owners: @nv-legate/build-reviewers, @nv-legate/cpp-reviewers, @magnatelee, @Jacobfaib

Use legate_USE_CUDA, not Legion_USE_CUDA to enable CUDA support (#2584)
  benchmarks/cpp/CMakeLists.txt
  config/legate_internal/main_package.py
  scripts/build/python/legate/CMakeLists.txt
  scripts/pre-commit/cmake-format-legate.json
  src/CMakeLists.txt
  src/cmake/Modules/generate_legate_defines.cmake
  src/cmake/Modules/legate_options.cmake
  src/cmake/templates/install_info.py.in
  src/cmake/templates/legate_defines.h.in
  src/cmake/thirdparty/get_legion.cmake
  src/cpp/CMakeLists.txt
  tests/cpp/CMakeLists.txt
Owners: @nv-legate/build-reviewers, @nv-legate/python-reviewers, @nv-legate/devops-reviewers

.github/CODEOWNERS:

# Global
* @magnatelee @Jacobfaib

# Python/Cython
*.py @nv-legate/python-reviewers
*.pyi @nv-legate/python-reviewers
*.pyx @nv-legate/python-reviewers
*.pxd @nv-legate/python-reviewers
src/python @nv-legate/python-reviewers
src/python/legate/jupyter @eddy16112
pyproject.toml @nv-legate/build-reviewers
setup.cfg @nv-legate/build-reviewers

# cpp
src/cpp @nv-legate/cpp-reviewers

# cmake
src/cmake @nv-legate/build-reviewers
*.cmake @nv-legate/build-reviewers
CMakeLists.txt @nv-legate/build-reviewers

# configure
config/ @nv-legate/python-reviewers @nv-legate/build-reviewers
configure @nv-legate/python-reviewers @nv-legate/build-reviewers
makefile @nv-legate/build-reviewers

# CI
.github/ @nv-legate/devops-reviewers
continuous_integration @nv-legate/devops-reviewers
conda @nv-legate/devops-reviewers
scripts/ @nv-legate/devops-reviewers

# docs
docs/ @nv-legate/docs-reviewers
*.md @nv-legate/docs-reviewers
*.rst @nv-legate/docs-reviewers

# Override for CODEOWNERS - last rule wins.
CODEOWNERS @magnatelee @manopapad @Jacobfaib
